@charset "utf-8";
/* CSS Document */
     *{margin:0;padding:0;font-family:"微软雅黑 Light";}
	 .container{border:1px solid #CCCCCC;}
     .dateWrap{overflow:hidden;padding:5px;}
	 .date-title{position:relative;border-bottom:1px solid #E8E8E8;margin-bottom:20px;}
	 .prevyear,.nextyear, .prevmonth,.nextmonth{position:absolute;background:url(../btn.png) no-repeat;height:9px;top:8px;overflow:hidden;cursor:pointer;}
	 .prevyear{width:9px;left:0px;}
	 .prevmonth{width:5px; background-position:-9px 0;left:15px;}
	 .nextyear{  width:9px; background-position:-19px 0; right:0px;}
     .nextmonth{ width:5px; background-position:-14px 0; right:15px;}
	.container dl{overflow:hidden;width:175px;}
	 .container dt{float:left;width:25px;text-align:center;}
	 .container .date-title{width:100%;}
	 .container dd a{float:left;width:25px;height:25px;text-align:center;}
	 .container dd a.present{color:#FF0000;}
	 .container dd a:hover{background-color:#FF3333;cursor:pointer;}
	  .container dd{overflow:hidden;width:175px;}
	 .bgc{background-color:#FF0000;}
	 .container dd a.pass{color:#CCCCCC;}
	 .container dd a.future{color:#0000FF}
	 #input{border:1px solid #CCCCCC;padding:4px;text-align:center;display:inline-block;margin:20px 40px;width:175px;}